<!DOCTYPE html>
<html>
<head>
  <title>Add a Product</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" placeholder="Product name" name="add_product">
  <button type="submit">Create Product</button>
</form>
</body>
</html>