<!DOCTYPE html>
<html>
<head>
  <title>Product Manager</title>
</head>
<body>
<h1>Welcome</h1>
<a href="/products/new">Add a Product</a>
<ol>
  <% PRODUCT_LIST.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ol>
</body>
</html>